# Software Name : HSLinUCB
# SPDX-FileCopyrightText: Copyright (c) 2021 Orange
# SPDX-License-Identifier: GPL-2.0
#
# This software is distributed under the GNU General Public License v2.0 license
#
# Author: David DELANDE <david.delande@orange.com> et al

Host 127.0.0.1
ProxyCommand none
BatchMode yes
CheckHostIP no
StrictHostKeyChecking no
PasswordAuthentication no

Host master1
User <master1 remote ssh user>
HostName <master1 floating ip>
ProxyCommand none
IdentityFile hslinucb_ssh.key
BatchMode yes
CheckHostIP no
StrictHostKeyChecking no
PasswordAuthentication no

Host agent1
User <agent1 remote ssh user>
HostName <agent1 ip address on openstack private network> 
ProxyCommand ssh -q -A <master1 remote ssh user>@<master1 floating ip> -i ./hslinucb_ssh.key -W %h:%p
IdentityFile ./hslinucb_ssh.key
BatchMode yes
CheckHostIP no
StrictHostKeyChecking no
PasswordAuthentication no

Host stress2
User <stress2 remote ssh user>
HostName <stress2 ip address on openstack private network>
ProxyCommand ssh -q -A <master1 remote ssh user>@<master1 floating ip> -i ./hslinucb_ssh.key -W %h:%p
IdentityFile ./hslinucb_ssh.key
BatchMode yes
CheckHostIP no
StrictHostKeyChecking no
PasswordAuthentication no

Host stress1
User <stress1 remote ssh user>
HostName <stress1 ip address on openstack private network>
ProxyCommand ssh -q -A <master1 remote ssh user>@<master1 floating ip> -i ./hslinucb_ssh.key -W %h:%p
IdentityFile ./hslinucb_ssh.key
BatchMode yes
CheckHostIP no
StrictHostKeyChecking no
PasswordAuthentication no

Host worker3
User <worker3 remote ssh user>
HostName <worker3 ip address on openstack private network>
ProxyCommand ssh -q -A <master1 remote ssh user>@<master1 floating ip> -i ./hslinucb_ssh.key -W %h:%p
IdentityFile ./hslinucb_ssh.key
BatchMode yes
CheckHostIP no
StrictHostKeyChecking no
PasswordAuthentication no

Host worker2
User <worker2 remote ssh user>
HostName <worker2 ip address on openstack private network>
ProxyCommand ssh -q -A <master1 remote ssh user>@<master1 floating ip> -i ./hslinucb_ssh.key -W %h:%p
IdentityFile ./hslinucb_ssh.key
BatchMode yes
CheckHostIP no
StrictHostKeyChecking no
PasswordAuthentication no

Host worker1
User <worker1 remote ssh user>
HostName <worker1 ip address on openstack private network>
ProxyCommand ssh -q -A <master1 remote ssh user>@<master1 floating ip> -i ./hslinucb_ssh.key -W %h:%p
IdentityFile ./hslinucb_ssh.key
BatchMode yes
CheckHostIP no
StrictHostKeyChecking no
PasswordAuthentication no
