---
# Software Name : HSLinUCB
# SPDX-FileCopyrightText: Copyright (c) 2021 Orange
# SPDX-License-Identifier: GPL-2.0
#
# This software is distributed under the GNU General Public License v2.0 license
#
# Author: David DELANDE <david.delande@orange.com> et al.

apiVersion: v1
kind: Service
metadata:
  name: kafka-external
  namespace: kafka-system
  labels:
    app: kafka
spec:
  ports:
  - port: 31090
    name: external
  externalIPs:
  - {{ ansible_default_ipv4.address }}
  selector:
    app: kafka
---
apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: kafka-system
  labels:
    app: zookeeper
spec:
  type: 
  ports:
    - port: 2181
      name: client
    - port: 2888
      name: server
  selector:
    app: zookeeper
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka
  namespace: kafka-system
  labels:
    app: kafka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "false"
      labels:
        app: kafka
    spec:
      volumes:
      - name: data
        emptyDir: {}
      hostname: kafka-0
      containers:
      - name: kafka-broker
        image: "confluentinc/cp-kafka:5.0.1"
        imagePullPolicy: "IfNotPresent"
        ports:
        - containerPort: 9092
          name: kafka
        - containerPort: 31090
          name: external
        env:
          - name: KAFKA_HEAP_OPTS
            value: -Xms256M -Xmx256M
          - name: KAFKA_ZOOKEEPER_CONNECT
            value: "zookeeper:2181"
          - name: KAFKA_LOG_DIRS
            value: "/opt/kafka/data/logs"
          - name: "KAFKA_LOG_RETENTION_HOURS"
            value: "1"
          - name: "KAFKA_LOG_RETENTION_MINUTES"
            value: "5"
          - name: "KAFKA_MESSAGE_MAX_BYTES"
            value: "104858800"
          - name: "KAFKA_LISTENER_SECURITY_PROTOCOL_MAP"
            value: "PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT"
          - name: "KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR"
            value: "1"
        command:
        - sh
        - -exc
        - |
          export KAFKA_BROKER_ID=${HOSTNAME##*-} && \
          export KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://${POD_IP}:9092,EXTERNAL://{{hostvars[groups['master'][0]].ansible_default_ipv4.address}}:$((31090 + ${KAFKA_BROKER_ID})) && \
          exec /etc/confluent/docker/run
        volumeMounts:
          - name: data
            mountPath: /opt/kafka/data

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zookeeper
  namespace: kafka-system
  labels:
    app: zookeeper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "false"
      labels:
        app: zookeeper
    spec:
      volumes:
      - name: datadir
        emptyDir: {}
      - name: datalogdir
        emptyDir: {}
      hostname: zookeeper-0
      containers:
      - name: zookeeper-server
        image: "confluentinc/cp-zookeeper:5.0.1"
        imagePullPolicy: "IfNotPresent"
        ports:
        - containerPort: 2181
          name: client
        - containerPort: 2888
          name: server
        env:
          - name : KAFKA_HEAP_OPTS
            value: "-Xms256M -Xmx256M"
          - name : ZOOKEEPER_TICK_TIME
            value: "2000"
          - name : ZOOKEEPER_SYNC_LIMIT
            value: "5"
          - name : ZOOKEEPER_INIT_LIMIT
            value: "10"
          - name : ZOOKEEPER_MAX_CLIENT_CNXNS
            value: "60"
          - name : ZOOKEEPER_AUTOPURGE_SNAP_RETAIN_COUNT
            value: "3"
          - name : ZOOKEEPER_AUTOPURGE_PURGE_INTERVAL
            value: "24"
          - name: ZOOKEEPER_CLIENT_PORT
            value: "2181"
        command:
        - "bash"
        - "-c"
        - |
          /etc/confluent/docker/run
        volumeMounts:
          - name: datadir
            mountPath: /var/lib/zookeeper/data
          - name: datalogdir
            mountPath: /var/lib/zookeeper/log
