{
  "CN": "hslinucb",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
  {
    "C": "FR",
    "L": "Paris",
    "O": "hslinucb",
    "OU": "hslinucb FR",
    "ST": "Ile de france"
  }
 ]
}
