{
  "CN": "hslinucb",
  "hosts": [
    "*.kubernetes.myCloud",
    "*.kubernetes.hslinucb",
    "*.hslinucb",
    "*.kubernetes",
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.cluster",
    "kubernetes.default.svc.cluster.local",
    "localhost"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
  {
    "C": "FR",
    "L": "Paris",
    "O": "hslinucb",
    "OU": "hslinucb FR",
    "ST": "Ile de france"
  }
 ]
}
