apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  # any PVC name
  name: registry-nfs-pvc
  namespace: kube-system
spec:
  selector:
    matchLabels:
      volume: registry-nfs-pv-volume
  accessModes:
  # ReadWriteMany(RW from multi nodes), ReadWriteOnce(RW from a node), ReadOnlyMany(R from multi nodes)
  - ReadWriteMany
  resources:
     requests:
       # storage size to use
       storage: 2Gi
