# Software Name : HSLinUCB
# SPDX-FileCopyrightText: Copyright (c) 2021 Orange
# SPDX-License-Identifier: GPL-2.0
#
# This software is distributed under the GNU General Public License v2.0 license
#
# Author: David DELANDE <david.delande@orange.com> et al.

[Unit]
Description=HSLinUCB Orchestrator
[Service]
Environment=PYTHONUNBUFFERED=true
ExecStart=/opt/anaconda/envs/agent/bin/python /opt/orchestrator/orchestrator.py
Type=notify
WatchdogSec=30
Restart=on-failure
RestartSec=10
